#search {
    border-radius: 50px;
    position: absolute;
    width: 300px;
    top: 8px;
    right: 110px;
}
.info {
    display: flex;
    margin-left: 150px;
}
.info > div {
    margin: 12px;
    font-size: 20px;
    cursor: pointer;
    color: #4558be;
}
/* .mail {
    font-size: 16px;
}
.fa-envelope:before {
    content: "\f0e0";
    padding: 20px;
    font-size: 26px;
    position: absolute;
    top: 2px;
    right: 163px;
    cursor: pointer;
    
}
.fa-bell:before {
    right: 143px;
    content: "\f0f3";
    position: absolute;
    font-size: 26px;
    top: 23px;
    cursor: pointer;
}
.fa-user:before {
    right: 105px;
    content: "\f0f3";
    position: absolute;
    font-size: 22px;
    top: 23px;
    cursor: pointer;
} */
#menu_main {
    height: 60px;
    background-color: #4558be;
}
.nav-item a {
    color: white;
    font-weight: bold;
}
.nav-nemu {
    padding-top: 9px;
}
#text {
    color: white;
    padding-right: 70px;
}

#menu-ver {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 220px;
    height: 100vh;
    /* background-color: #f1f7fc; */
    /* background-image:url(image/sidebar-5.jpg); */
    /* box-shadow: 5px 5px 5px cornflowerblue; */
    /* display: none; */
    /* background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%); */
        /* background-size:cover;
    background-blend-mode: multiply; */
}
#menu-ver::before{
    background-color: rgba(160, 75, 240, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
.item_menu a {
    color: white;
}
.item_menu {
    padding-top: 30px;
}
.oder {
    width: 100%;
}
.order li {
    padding: 10px 20px;
    /* border-bottom:  1px solid #171818; */
    width: 90%;
}
/* .order li a:link {
    text-decoration: none;
    color: white;
}
.order li a:hover {
    color:darkblue;
    cursor: pointer;
    
} */

.order li a:link {
    text-decoration: none;
    
}
.order li a:hover {
    cursor: pointer;
    color: #165ffe;
    transition: 0.4s;
  /* color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px; */
}
.bar-menu {
        position: absolute;
        top: 50p;
        top: 76px;
        font-size: 30px;
        padding: 0 20px;
        color: white;
    }
#btn-close-pop {
    position: absolute;
    right: 6p;
    right: 6px;
    font-size: 23px;
    color: cornflowerblue;
}
.focus {
    height: 0;
    width: 0;
    opacity: 0;
}

/* Style main-content */
.main_content_admin {
    padding: 0 0 0 200px;
}
.title {
    color: #147dda;
    font-size: 25px;
    padding: 5px 0 0 40px;
    font-weight: bold;
}
.bg-light {
    border-bottom: 1px solid rgb(168, 167, 167);
}
.title_main {
    border-bottom: 1px solid rgb(196, 212, 247);
}
.title_1 {
    margin-top: 13px;
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 5px;
}
/* USER-TABLE */
.ds_users img {
    max-width: 60px;
}
.ds_users td {
    vertical-align: middle;
}
.users_table {
    margin : 8px
}
.users_title th {
    color: #147dda;
}

/* pagination */
.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pagination .btn_page {
    border: 1px solid #ccc;
    padding: 12px;
    margin: 0 6px;
    border-radius: 4px;
}

.pagination .btn_page:first-of-type {
    margin: 0 6px 0 auto;
}

.pagination .btn_page:last-of-type {
    margin: 0 auto 0 6px;
}

.line_chart {
    right: -30px;
    position: absolute;
    top: 875px;
}


.card {
        border-radius: 12px;
        box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
        background-color: #FFFFFF;
        color: #252422;
        margin-bottom: 20px;
        position: relative;
        border: 0 none;
        transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    }
.row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
.content {
        padding: 0 30px 30px;
        min-height: calc(100vh - px);
        margin-top: 93px;
    }
.card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }
.icon-big {
    font-size: 47px;
    color: white;
}
.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}
.card-stats .card-body .numbers .card-category {
    color: white;
    font-size: 16px;
    line-height: 1.4em;
}   
.card-stats .card-body .numbers p {
    margin-bottom: 0;
}
